.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.auth h1 {
    font-size: 1.5rem;
    color: var(--sunrise-color);
    text-shadow: -3px 3px 3px var(--shadow-color), -5px 5px 5px var(--shadow-color);
}

.auth input,
.auth button {
    border-radius: var(--card-radius);
}

.auth button {
    background: var(--card-color);
    padding: 0.2rem 0.6rem;
}

.auth input {
    text-indent: 0.5ch;
}