.current-conditions {
    background-color: cornflowerblue;
    border-radius: 0.7rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.current-conditions li img {
    max-width: fit-content;
    align-self: center;
}

.current-conditions ul {
    margin: 0;
    padding: 0;
}

.current-conditions li {
    list-style: none;
    line-height: 2.3ch;
    font-size: 0.8rem;
}

.current-conditions .time {
    font-weight: bold;
    font-size: 1.2rem;
}