.date-selector {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
}

.date-selector button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}