.weather {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 25vw);
}

.forecast {
    background-color: cornflowerblue;
    border-radius: 0.7rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    min-width: 300px;
}

.forecast img {
    display: inline;
    max-width: fit-content;
    align-self: center;
}

.forecast tr {
    list-style: none;
    line-height: 2.3ch;
    font-size: 0.8rem;
}

.forecast .dog {
    border-radius: 1rem;
    width: 100%;
}

.weather-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
}

.forecast .time {
    font-weight: bold;
    font-size: 1.2rem;
}

.tommorowBG {
    background-color: darkseagreen;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#weather-details-mobile {
    display: none;
    grid-column: span 3;
    margin: auto;
}

.show-weather-details {
    display: none;
}

.up,
.down {
    width: 30px;
    height: 30px;
    display: none;
}

.up {
    background: url(./icons/up.svg) no-repeat;
}

.down {
    background: url(./icons/down.svg) no-repeat;
}

@media only screen and (max-width: 1200px) {
    .weather {
        grid-template-columns: repeat(2, 40vw);
    }
}

@media only screen and (max-width: 750px) {

    .up,
    .down {
        display: block;
    }

    #weather-details-desktop {
        display: none;
    }

    #weather-details-mobile {
        display: block;
    }

    .time {
        display: block;
    }

    .forecast {
        position: relative;
        padding: 0;
        margin: 0;
        display: grid;
        align-items: center;
        grid-template-columns: 100px 1fr 50px;
        grid-template-rows: 190px;
    }

    .weather {
        gap: 0.3rem;
        grid-template-columns: 1fr;
    }

    .weather-images {
        margin: 0.2rem;
        grid-template-columns: repeat(4, 1fr);
    }

    thead {
        columns: span 2;
    }

    .show-weather-details {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background-color: inherit;
        border: 1px solid;
        margin: 0;
        padding: 0;
    }
}


@media only screen and (max-width: 550px) {
    .weather-images {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media only screen and (max-width: 430px) {
    .weather-images {
        grid-template-columns: repeat(2, 1fr);
    }
}