:root {
    --weather-card-width: 356px;
    background-color: cornflowerblue;
}

.weather {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 25vw);
    justify-content: center;
    margin-bottom: 2.2rem;
}

.weather-icon {
    background-color: lightblue;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.forecast {
    background: var(--card-color);
    border-radius: 0.7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    min-width: 300px;
    height: 715px;
    box-shadow: -2px 2px 2px var(--shadow-colour), -4px 4px 6px var(--shadow-colour);
    width: 95%;
    justify-self: center;
}

.forecast span {
    text-align: center;
}

.forecast img {
    display: inline;
    max-width: fit-content;
    align-self: center;
}

.forecast tr {
    list-style: none;
    line-height: 2.3ch;
    font-size: 0.8rem;
}

.forecast .dog {
    border-radius: 1rem;
    width: 100%;
    border: 2px solid;
}

.forecast .opaque {
    opacity: 0.15;
    border: none;
}

.weather-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
    justify-items: center;
}

.forecast .time {
    font-weight: bold;
    font-size: 1.2rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#weather-details-mobile {
    display: none;
    grid-column: span 3;
    margin: auto;
}

.show-weather-details {
    display: none;
}

.up,
.down {
    width: 30px;
    height: 30px;
    display: none;
}

.up {
    background: url(../assets/images/icons/up.svg) no-repeat;
}

.down {
    background: url(../assets/images/icons/down.svg) no-repeat;
}

.temp {
    display: none;
}

.forecast tbody,
.forecast th {
    text-align: initial;
}

.forecast .table-header {
    text-align: center;
}

.out-of-range * {
    visibility: hidden;
}

.out-of-range {
    background: url("/favicon.png") center no-repeat;
    background-size: cover;
}


@media only screen and (min-width: 768px) {
    :root {
        --weather-card-width: 300px;
    }


    .forecast {
        position: absolute;
        width: 300px;
    }

    .weather {
        display: block;
        position: relative;
        height: 715px;
        width: 80%;
        left: 10%;
    }

    .move-right,
    .move-left {
        font-size: 0.5rem;
        width: 1rem;
        height: 1rem;
        border-radius: 0.2rem;
        cursor: pointer;
        position: absolute;
        top: 48%;
        box-shadow: -1px 1px 1px var(--shadow-colour), -2px 2px 2px var(--shadow-colour);
    }

    .move-left {
        left: -0.5rem;
    }

    .move-right {
        right: -0.5rem;
    }

    .left,
    .right {
        transition: 0.5s ease-in-out;
        scale: 85%;
    }

    .far-left {
        z-index: -3;
        box-shadow: unset;
    }

    .left {
        z-index: -1;
    }

    .right {
        z-index: -1;
    }

    .far-right {
        z-index: -3;
        box-shadow: unset;
    }

    .left {
        left: calc(50% - var(--weather-card-width) / 2 * 3 + 5%);
    }

    .right {
        left: calc(50% + var(--weather-card-width) / 2 - 5%);
    }

    .center {
        transition: 0.5s ease-in-out;
        left: calc(50% - var(--weather-card-width) / 2);
        z-index: 2;
    }
}


@media only screen and (min-width: 850px) {

    :root {
        --weather-card-width: 315px;
    }

    .left {
        left: calc(50% - var(--weather-card-width) / 2 * 3 + 2%);
    }

    .right {
        left: calc(50% + var(--weather-card-width) / 2 - 2%);
    }

}


@media only screen and (min-width: 900px) {
    :root {
        --weather-card-width: 315px;
    }
}


@media only screen and (min-width: 950px) {
    :root {
        --weather-card-width: 330px;
    }
}


@media only screen and (min-width: 1050px) {
    .forecast {
        width: var(--weather-card-width)
    }

    .left {
        left: calc(50% - var(--weather-card-width) / 2 * 3);
    }

    .right {
        left: calc(50% + var(--weather-card-width) / 2);
    }

    .center {
        left: calc(50% - var(--weather-card-width) / 2);
    }

}


@media only screen and (min-width: 1050px) {
    :root {
        --weather-card-width: 360px;
    }

    .left {
        left: calc(50% - var(--weather-card-width) / 2 * 3 - 3%);
    }

    .right {
        left: calc(50% + var(--weather-card-width) / 2 + 3%);
    }

    .center {
        left: calc(50% - var(--weather-card-width) / 2);
    }

}


@media only screen and (max-width: 767px) {

    .move-right,
    .move-left {
        display: none;
    }

    .up,
    .down {
        display: block;
    }

    #weather-details-desktop {
        display: none;
    }

    #weather-details-mobile {
        display: block;
    }

    .time {
        display: block;
    }

    .weather-overview {
        display: flex;
        flex-direction: column;
    }

    .forecast {
        position: relative;
        padding: 0.5rem;
        margin: 0;
        display: grid;
        align-items: center;
        grid-template-columns: 75px 1fr 10px;
        grid-template-rows: 180px;
        height: auto;
    }

    .forecast .time {
        font-size: 0.9rem;
    }

    .weather {
        gap: 0.3rem;
        grid-template-columns: 1fr;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .weather-icon {
        width: 50px
    }

    .weather-images {
        margin: 0.2rem;
        grid-template-columns: repeat(4, 1fr);
    }

    thead {
        columns: span 2;
    }

    .forecast th {
        padding-left: 1rem;
    }


    .forecast td {
        padding-left: 1rem;
    }

    .show-weather-details {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background-color: inherit;
        border: 1px solid;
        margin: 0;
        padding: 0;
    }

    .temp {
        display: block;
        font-size: 0.65rem;
        font-style: italic;
    }
}


@media only screen and (max-width: 630px) {
    .weather-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .forecast .dog {
        width: 57%;
    }
}


@media only screen and (max-width: 550px) {
    .weather-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .forecast .dog {
        width: 65%;
    }
}


@media only screen and (max-width: 500px) {
    .forecast .dog {
        width: 80%;
    }
}


@media only screen and (max-width: 460px) {
    .forecast .dog {
        width: 90%;
    }
}


@media only screen and (max-width: 410px) {
    .forecast .dog {
        width: 100%;
    }
}