.weather {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 25vw);
}

.forecast {
    background-color: cornflowerblue;
    border-radius: 0.7rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    min-width: 300px;
}

.forecast img {
    display: inline;
    max-width: fit-content;
    align-self: center;
}

.forecast ul {
    margin: 0;
    padding: 0;
}

.forecast li {
    list-style: none;
    line-height: 2.3ch;
    font-size: 0.8rem;
}

.forecast .dog {
    border-radius: 1rem;
    width: 100%;
}

.weather-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
}

.forecast .time {
    font-weight: bold;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px) {
    .todays-weather {
        grid-template-columns: repeat(2, 40vw);
    }
}

@media only screen and (max-width: 800px) {
    .todays-weather {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .location {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 500px) {
    #location {
        width: 95%;
        font-size: 0.9rem;
    }

    .location {
        margin-left: 5%;
    }
}