#location {
    border-radius: 0.2rem;
    border: 2px solid grey;
}

.location {
    margin-top: -0.45rem;
    margin-left: 55%;
}

.location input {
    text-indent: 2.7ch;
    width: 25ch;
    box-shadow: -2px 2px 2px var(--shadow-colour), -4px 4px 6px var(--shadow-colour);
}

.location-button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-style: none;
    background-color: inherit;
    margin-top: 0.2rem;
}

.location ul {
    width: 25ch;
}

.location li {
    list-style: none;
    margin-left: 3.7ch;
    font-size: 0.8rem;
    padding: 4px;
}

.location ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    cursor: pointer;
    margin-top: 0.2rem;
}

.grid-row {
    width: 50ch;
}

.error {
    color: #ff3300;
    text-shadow: -1px 1px 1px var(--shadow-colour), -3px 3px 3px var(--shadow-colour);
}

.selected {
    border-bottom: 2px solid var(--dusk-color);
    border-left: 2px solid var(--dusk-color);
    border-radius: 0.5rem;
    width: fit-content;
    background-color: #ffd79c96;
}

@media only screen and (max-width: 1500px) {

    .location {
        margin-left: 45%;
    }
}

@media only screen and (max-width: 1280px) {

    .location {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 1120px) {

    .location {
        margin-left: 35%;
    }
}

@media only screen and (max-width: 1015px) {

    .location {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 930px) {

    .location {
        margin-left: 30%;
    }

    .location input {
        width: 20ch;
    }

    .location ul {
        width: 20ch;
    }
}

@media only screen and (max-width: 650px) {
    .location {
        margin-left: 20%;
    }

    .location input {
        width: 20ch;
    }
}

@media only screen and (max-width: 550px) {
    #location {
        font-size: 0.8rem;
        width: 85%;
    }

    .location {
        margin-left: 12%;
        margin-top: -0.65rem;
    }

    .location ul {
        font-size: 0.6rem;
        width: 25ch;
    }

    .location li {
        margin-left: 2.9ch;
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 430px) {
    #location {
        font-size: 0.7rem;
    }

    .location input {
        text-indent: 3ch;
    }

    .location ul {
        width: 20ch;
        margin-left: 3ch;
    }

    .location li {
        margin-left: 0.7ch;
        font-size: 0.55rem;
    }
}