.core-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.settings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 0.5rem;
}

/* MAKE BELOW A NEW COMPONENT */
/* border radius variable */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
[type="checkbox"] {
    visibility: hidden;
  }

  .slider {
    position: absolute;
    height: 1.1rem;
    width: 2rem;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 1rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
    box-shadow: var(--card-shadow);
  }
  
  input:checked + .slider {
    background: var(--card-color);
  }
  
  input + .slider {
    box-shadow: var(--card-shadow);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }