.settings-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    background: var(--card-color);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    padding: 0.5rem;
    gap: 0.3rem;
    margin-bottom: 1rem;
    height: 700px;
}

.settings-card * {
    border-radius: var(--card-radius);
    line-height: 1rem;
}

.settings-toggle {
    background: lightblue;
}

.settings-card .file-input {
    width: 100%;
    padding: 0.4rem;
    color: transparent;
    margin-left: 40%;
}

.settings-card label {
    align-self: centre;
    margin-left: -3rem;
}

.settings-card.disabled {
    background: #ccc;
    opacity: 0.9;
}

.settings-card img {
    max-height: 250px;
}

.settings-card.disabled img {
    opacity: 0.5;
}

.setting-group * {
    padding: 0 1rem;
}

.image-reset {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1rem;
}

.settings-card .value-metric {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.settings-card .value {
    text-align: end;
    width: 3.5rem;
}

.settings-card .detail {
    color: slategray;
    font-weight: 100;
    font-style: italic;
    font-size: 0.8rem;
}

.settings-card .disabled {
    color: black;
    border: none;
    background: none;
}

.settings-card button {
    line-height: inherit;
}
