/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    --sunrise-color: #FFD89C;
    --morning-color: #FFC857;
    --afternoon-color: #FFAE42;
    --evening-color: #FF9F68;
    --sunset-color: #FF8000;
    --dusk-color: #D95D39;
    --shadow-color: rgb(50, 50, 50);
    --card-color: radial-gradient(circle, #FFC857 30%, #FF9F68 70%);
    --card-shadow: -2px 2px 2px var(--shadow-color), -4px 4px 6px var(--shadow-color);
    --card-radius: 0.7rem;
}

.current-overview {
    display: flex;
    justify-content: space-around;
}

h2 {
    font-size: 1.1rem;
    color: white;
    text-shadow: -3px 3px 3px var(--shadow-color), -5px 5px 5px var(--shadow-color);
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    text-align: center;
}

ul {
    list-style: none;
}