.current-conditions {
    background: var(--card-color);
    border-radius: 0.7rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0.5rem 0;
    min-width: 300px;
    box-shadow: -2px 2px 2px var(--shadow-colour), -4px 4px 6px var(--shadow-colour);
    max-width: 95%
}

.current-conditions li img {
    max-width: fit-content;
    align-self: center;
}

.current-conditions ul {
    margin: 0;
    padding: 0;
}

.current-conditions li {
    list-style: none;
    line-height: 2.3ch;
    font-size: 0.8rem;
}

.current-conditions .time {
    font-weight: bold;
    font-size: 1.2rem;
}

.current-conditions table,
.current-conditions th,
.current-conditions td {
    font-size: 0.8rem;
}


.current-conditions tbody,
.current-conditions th {
    text-align: initial;
}

.current-conditions .table-header {
    text-align: center;
}

th {
    font-weight: normal;
}

.table-header {
    font-weight: bold;
    text-align: center;
}