.header {
    text-align: center;
    background-color: lightgray;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.7rem;
    margin-top: 2rem;
    border: 2px solid grey;
    box-shadow: -2px 2px 2px var(--shadow-colour), -4px 4px 6px var(--shadow-colour);
}

@media only screen and (max-width: 768px) {
    .header {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    .header {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 550px) {
    .header {
        font-size: 1.4rem;
        padding: 1rem 0;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 380px) {
    .header {
        font-size: 1.2rem;
    }
}